<footer>
    <div id="copyright">
        <h5>&copy;Blueshift Nova</h5>
    </div>

    <div id="social-media">
        <div><img src="/images/twitter.png" alt="twitter logo"></div>
        <div><img src="/images/facebook.png" alt="facebook logo"></div>
        <div><img src="/images/youtube.png" alt="youtube logo"></div>
    </div>

</footer>

</body>
</html>