    <%- include('./partials/header.ejs')%>
    <main>
        <div class="left">
            <div>
                <h3>Welcome to Blueshift Nova</h3>
                <br>
                <p>Browse the best new and used telescopes for
                astrophotography or simple sightseeing!
                </p>
            </div>
        </div>

        <div class="right">
            <div id="pic-1"><img src="images/astro1.jpg"></div>
            <div id="pic-2"><img src="images/astro2.jpg"></div>
            <div id="pic-3"><img src="images/astro3.jpg"></div>
            <div id="pic-4"><img src="images/astro4.jpg"></div>
            <div id="pic-5"><img src="images/astro5.jpg"></div>
            <div id="pic-6"><img src="images/astro6.jpg"></div>
            <div id="pic-7"><img src="images/astro7.jpg"></div>
            <div id="pic-8"><img src="images/astro8.jpg"></div>
            <div id="pic-9"><img src="images/astro9.jpg"></div>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>
