<%- include('../partials/header') %>

<h1>Login</h1>

<% if (error) { %>
  <div class="alert error"><%= error %></div>
<% } %>

<form action="/users/login" method="POST">
  <label for="email">Email:</label>
  <input type="email" name="email" required>

  <label for="password">Password:</label>
  <input type="password" name="password" required>

  <button type="submit">Login</button>
</form>

<%- include('../partials/footer') %>
